<div class="about-showcase">
    <div class="text">
      <h2 class="title">About Our Game</h2>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Our retro-style game blends pixel art aesthetics with modern storytelling, transporting you to a nostalgic world filled with adventure.
      </p>
    </div>
  
    <div class="video-container">
      <iframe 
        src="https://www.youtube.com/embed/Sp95tZHS-AM?si=mSQpkhHjh_RMyi4f" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
      </iframe>
    </div>

    <div class="sub-text">
      <h2 class="sub-title">What is Lorem Ipsum?</h2>
      <p class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>
    
  </div>
  
