.homepage{
	width: 100%;
	background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(/assets/2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 109vh;
}